* {
    padding: 0;
    margin: 0;
    font-family: Nunito, Roboto,system-ui,Tahoma,sans-serif;
}

body {
    background: #ffdf8c;
}

main {
    width: 90%;
    margin: 0 auto;
    margin-top: 35px;
    background: #fff;
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 20px;
}