.pizza {
    weight: 250px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.pizzaImage {
    width: 225px;
    height: 225px;
    margin: 0 auto;
    cursor: pointer;
}

.pizzaTitle {
    font-size: 20px;
    font-weight: 600;
    height: 55px;
    display: block;
    text-align: center;
    margin: 10px 0px 10px 0px;
}

.pizzaWeight {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 40px;
    background: #EAEAEA;
    border-radius: 10px 10px 0px 0px;
}


.weightStyle,
.long,
.part {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pizzaLong {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 40px;
    background: #EAEAEA;
    border-radius: 0px 0px 10px 10px;
}

.pizzaPrice {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
}

.selected {
    background: #fff;
    margin: 5px;
    border-radius: 10px;
}

.addBtn {
    border: solid 2px #fe5f1e;
    border-radius: 20px;
    color: #fe5f1e;
    padding: 5px 10px;
    transition: background .4s ease-in-out, color .4s ease-in-out;
}

.addBtn:hover {
    background: #fe5f1e;
    color: #fff;
}

@keyframes openIngredients {
    from {
        transform: translateY(75px)
    }
    to {
        transform: translateY(0px)
    }
}



.ingredients {
    position: absolute;
    top: 90px;
    height: 125px;
    width: 90%;
    left: 5%;
    background: #fff;
    box-shadow: 1px 1px 8px #EAEAEA;
    z-index: 5;
    opacity: .8;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
    animation: openIngredients 1.2s;
}


.ingredientsText {
    font-size: 17px;
    font-weight: 600;
    color: #353434;
}

.closed {
    display: none;
}
