.pizzaCard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    box-shadow: 1px 1px 9px grey;
    margin-top: 30px;
    border-radius: 20px;
}

.cardImage {
    width: 225px;
    height: 225px;
}

.infoBlock {
    width: 250px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
}
.price {
    font-size: 18px;
    font-weight: 600;
    display: block;
}
.weight {
    font-size: 18px;
    font-weight: 600;
    display: block;
}
.long {
    font-size: 18px;
    font-weight: 600;
    display: block;
}

.increase,
.decrease {
    width: 30px;
    height: 30px;
    background: #EAEAEA;
    font-size: 23px;
    border-radius: 20px;
    text-align: center;
}

.pizzaAmount {
    margin: 0px 20px;
    font-size: 25px;
}

.deleteBtn {
    border: none;
    height: 30px;
    width: 120px;
    color: #fff;
    background: rgb(254, 0, 33);
    margin-top: 20px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
}

@media (max-width: 700px) {
    .pizzaCard {
        width: 80%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cardImage {
        margin-top: 25px;
    }

    .deleteBtn {
        margin-bottom: 25px;
    }

    .setCountBlock {
        margin: 20px 0px;
    }
}



