.pizzaCard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    border-bottom: solid 1px #EAEAEA;
    margin-top: 30px;
}

.cardImage {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.infoBlock {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.setCountBlock {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 5px;
}
.weight,
.long{
    font-size: 15px;
    font-weight: 600;
    color: #777;
}


.increase,
.decrease {
    border: solid 2px #fe5f1e;
    color: #fe5f1e;
    font-size: 20px;
    border-radius: 20px;
    padding: 0px 8px;
    text-align: center;
    cursor: pointer;
}

.pizzaCount {
    margin: 0px 20px;
    font-size: 20px;
}

.priceBlock {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.price {
    font-size: 22px;
}

.deleteBtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    cursor: pointer;
}

.deleteBtn img {
    width: 35px;
    height: 35px;
}

@media (max-width: 700px) {
    .pizzaCard {
        width: 80%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .infoBlock {
        margin-left: 0;
    }

    .cardImage {
        width: 150px;
        height: 150px;
        margin-bottom: 25px;
        margin: 10px 0px 25px 0px;
    }

    .deleteBtn {
        margin: 25px 0px;
    }

    .setCountBlock {
        margin: 20px 0px;
    }
}



