.logoSection {
    display: flex;
}

.logoImage {
    width: 50px;
    height: 50px;
    margin-left: 25px;
}

.infoBlock {
    margin-left: 17px;
}

.mainPart{
    display: block;
    margin-bottom: 2px;
    font-size: 23px;
    font-weight: 800;
}

.secondPart {
    font-size: 14px;
    color: grey;
    font-weight: 600;
}

.emptyCart {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.emptyCartImage {
    width: 300px;
    height: 225px;
    margin-top: 50px;
    width: 275px;
    height: 200px;
}

.title {
    font-size: 33px;
    font-weight: 700;
}

.inner,
.secondary {
    color: #777;
    font-size: 24px;
    margin-top: 5px;
}

.backLink {
    background: #333;
    padding: 10px 30px;
    max-width: 150px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 25px;
}

.cartImage {
    height: 30px;
    width: 30px;
}

.cartText {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}

.partOne,
.partTwo{
    display: flex;
    height: 40px;
    align-items: center;
}

.partTwo {
    cursor: pointer;
}

.cartTextInner {
    font-size: 22px;
    font-weight: 700;
    margin-left: 5px;
}

.clearCartText {
    color: #777;
    font-size: 17px;
    font-weight: 600;
}

.pizzaList {
    display: flex;
    flex-direction: column;
}

.totalBlock {
    display: flex;
    width: 80%;
    margin: 25px auto;
    justify-content: space-between;
}

.totalCount,
.totalAmount{
    font-size: 20px;
}

@media (max-width: 500px) {

    .emptyCartImage {
        width: 275px;
        height: 200px;
    }

    .title {
        font-size: 29px;
    }

    .inner,
    .secondary {
        font-size: 16px;
    }

    .cartTextInner {
        font-size: 18px;
    }

    .clearCartText {
        font-size: 15px;
    }

    .totalCount,
    .totalAmount{
        font-size: 16px;
    }
}