.wrapper {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    height: 80px;
    justify-content: space-between;
}

.categories {
    display: block;
    overflow: auto;
    max-width: 785px;
    width: 80%;
    margin-right: 10px;
}

.categoryBlock {
    display: flex;
    align-items: center;
}

.category {
    padding: 10px 30px;
    background: #f9f9f9;
    list-style: none;
    margin-right: 25px;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.sortBlock {
    width: 160px;
    height: 20px;
    margin-left: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

@media (max-width: 715px) {
    .wrapper {
        width: 95%;
    }
    .categories {
        display: block;
        overflow: auto;
        width: 80%;
    }

    .category {
        padding: 7px 20px;
        margin-right: 15px;
        font-size: 17px;
    }
    .sortBlock {
        width: 125px;
        height: 20px;
        margin-left: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 7px;
    }

    .icon {
        width: 16px;
        height: 16px;
        margin-right: 7px;
    }
}